﻿@model KahlerErrorCodes.Models.SoftwareApplication

@{
	ViewBag.Title = "Software application details";
}

<h2>Software application details</h2>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ApplicationIdentifier)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicationIdentifier)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ApplicationTypeId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicationTypeName)
		</dd>
	</dl>

	@Html.ActionLink("Edit", "Edit", new { id = Model.SoftwareApplicationId }, new { @class = "btn btn-info btn-sm" })
</div>
<p>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
</p>
