﻿@model KahlerErrorCodes.Models.SoftwareApplication

@{
	ViewBag.Title = "Edit software application";
}

<h2>Edit software application</h2>


@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.SoftwareApplicationId)

		<div class="form-group">
			@Html.LabelFor(model => model.ApplicationIdentifier, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ApplicationIdentifier, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ApplicationIdentifier, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="ApplicationTypeId">Application type</label>
			<div class="col-md-10">
				@Html.DropDownList("ApplicationTypeId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ApplicationTypeId)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
