﻿@model IEnumerable<KahlerErrorCodes.Models.SoftwareApplication>

@{
	ViewBag.Title = "Software applications";
}

<h2>Software applications</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ApplicationIdentifier)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ApplicationTypeId)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ApplicationIdentifier)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ApplicationTypeName)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.SoftwareApplicationId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Details", "Details", new { id = item.SoftwareApplicationId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Delete", "Delete", new { id = item.SoftwareApplicationId }, new { @class = "btn btn-info btn-sm" })
			</td>
		</tr>
	}
</table>
