﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="FavIcon.ico" />
	<title>@ViewBag.Title - Kahler application errors</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@if (!ViewContext.RouteData.Values["Action"].ToString().Equals("details", StringComparison.CurrentCultureIgnoreCase) && !ViewContext.RouteData.Values["Action"].ToString().Equals("GetSolutions", StringComparison.CurrentCultureIgnoreCase)) {
		<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(0, 51, 151); color:white;">
			<div class="container">
				<img class="navbar-nav" src="~/Kahler-logo-standard.png" style="margin:6px; height:35px;" />
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Solutions", "Index", "Solution")</li>
						<li>@Html.ActionLink("Error Codes", "Index", "ErrorCode")</li>
						<li>@Html.ActionLink("Application Types", "Index", "ApplicationType")</li>
						<li>@Html.ActionLink("Software Applications", "Index", "SoftwareApplication")</li>
					</ul>
				</div>
			</div>
		</div>
	}
	@if (!ViewContext.RouteData.Values["Action"].ToString().Equals("details", StringComparison.CurrentCultureIgnoreCase) && !ViewContext.RouteData.Values["Action"].ToString().Equals("GetSolutions", StringComparison.CurrentCultureIgnoreCase)) {
		<div class="container body-content">
			@RenderBody()
		</div>
	} else {
		@RenderBody()
	}

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
