﻿@model KahlerErrorCodes.Models.Solution

@{
	ViewBag.Title = "Create solution";
}

<h2>Create solution</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-8" } })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>

			@*@Html.Label("Error codes", htmlAttributes: new { @class = "control-label col-md-2" })
				<table>
					<tr>
						<th>
							Error code
						</th>
						<th>
							&nbsp;
						</th>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						@Html.ActionLink("Create new", "Create", "ErrorCodeSolution", new { solutionId = Model.SolutionId }, new { @class = "btn btn-info btn-sm" })
					</td>
					</tr>
					@if (Model?.ErrorCodeSolutions?.Count() > 0) {
						foreach (var modelItem in Model.ErrorCodeSolutions) {
							<tr>
								<td>
									@Html.DisplayFor(item => modelItem.ErrorCode.DisplayableName)
								</td>
								<td>
									@Html.ActionLink("Details", "Details", "ErrorCodeSolution", new { id = modelItem.Id }, new { @class = "btn btn-info btn-sm" })
									@Html.ActionLink("Edit", "Edit", "ErrorCodeSolution", new { id = modelItem.Id }, new { @class = "btn btn-info btn-sm" })
									@Html.ActionLink("Delete", "Delete", "ErrorCodeSolution", new { id = modelItem.Id }, new { @class = "btn btn-info btn-sm" })
								</td>
							</tr>
						}
					}
					</table>*@
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
