﻿@model KahlerErrorCodes.Models.Solution

@{
	ViewBag.Title = "Details";
}

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => Model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => Model.Description)
		</dd>

		@if (Model?.ErrorCodeSolutions?.Count() > 0) {
			<dt>
				Error codes
			</dt>
			<dd>
				<ul>
					@foreach (var modelItem in Model.ErrorCodeSolutions.OrderBy(ecs => ecs.ErrorCode.Code)) {
						<li>
							@Html.DisplayFor(item => modelItem.ErrorCode.DisplayableName)
						</li>

					}
				</ul>
			</dd>
		}
	</dl>
</div>
