﻿@model IEnumerable<KahlerErrorCodes.Models.Solution>

@{
	ViewBag.Title = "Solution index";
}

<h2>Solutions</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			&nbsp;
		</th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.SolutionId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Edit", "Edit", new { id = item.SolutionId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Delete", "Delete", new { id = item.SolutionId }, new { @class = "btn btn-info btn-sm" })
			</td>
		</tr>
	}
</table>
