﻿@model KahlerErrorCodes.Models.ApplicationType

@{
	ViewBag.Title = "Delete application type";
}

<h2>Delete application type</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
		</div>
	}
</div>
