﻿@model KahlerErrorCodes.Models.ApplicationType

@{
	ViewBag.Title = "Application type details";
}

<h2>Application type details</h2>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt>
			Solutions
		</dt>
		<dd>
			@if (Model?.Solutions?.Count() > 0) {
				<ul class="table">
					@foreach (var modelItem in Model.Solutions) {
						<li>
							@Html.DisplayFor(item => modelItem.Description)
						</li>
					}
				</ul>
			}
			@if (Model?.Solutions?.Count() == 0) {
				<p>
					No solutions defined
				</p>
			}
		</dd>
		<dt>
			Applications
		</dt>
		<dd>
			@if (Model?.Applications?.Count() > 0) {
				<ul class="table">
					@foreach (var modelItem in Model.Applications) {
						<li>
							@Html.DisplayFor(item => modelItem.Name)
						</li>
					}
				</ul>
			}
			@if (Model?.Applications?.Count() == 0) {
				<p>
					No applications defined
				</p>
			}
		</dd>
	</dl>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationTypeId }, new { @class = "btn btn-info btn-sm" })
</div>
<p>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
</p>
