﻿@model IEnumerable<KahlerErrorCodes.Models.ApplicationType>

@{
	ViewBag.Title = "Application types";
}

<h2>Application types</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.ApplicationTypeId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Details", "Details", new { id = item.ApplicationTypeId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Delete", "Delete", new { id = item.ApplicationTypeId }, new { @class = "btn btn-info btn-sm" })
			</td>
		</tr>
	}

</table>
