﻿@model KahlerErrorCodes.Models.ErrorCodeSolution

@{
	ViewBag.Title = "Delete error code solution";
}

<h2>Delete error code solution</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SolutionId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Solution.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ErrorCodeId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ErrorCode.DisplayableName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ApplicationTypeId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicationTypeName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SoftwareApplicationId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SoftwareApplicationName)
		</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" />
		</div>
		<div>
			@Html.ActionLink("Back", "Edit", "Solution", new { id = Model.SolutionId }, new { @class = "btn btn-info btn-sm" })
		</div>
	}
</div>
