﻿@model KahlerErrorCodes.Models.ErrorCodeSolution

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SolutionId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Solution.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ErrorCodeId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ErrorCode.DisplayableName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ApplicationTypeId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicationTypeName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SoftwareApplicationId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SoftwareApplicationName)
		</dd>

	</dl>

	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
</div>
<p>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
</p>
