﻿@model KahlerErrorCodes.Models.ErrorCodeSolution

@{
	ViewBag.Title = "Edit error code solution";
}

<h2>Edit error code solution</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.SolutionId, "Solution", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DisplayFor(model => model.Solution.Description)
				<span style="visibility:hidden;">
					@Html.DropDownList("SolutionId", null, htmlAttributes: new { @class = "form-control" })
				</span>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ErrorCodeId, "Error code", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("ErrorCodeId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ErrorCodeId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ApplicationTypeId, "Application  type", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("ApplicationTypeId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ApplicationTypeId)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.SoftwareApplicationId, "Software application", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("SoftwareApplicationId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.SoftwareApplicationId)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
	<div>
		@Html.ActionLink("Back", "Edit", "Solution", new { id = Model.SolutionId }, new { @class = "btn btn-info btn-sm" })
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
