﻿@model IEnumerable<KahlerErrorCodes.Models.ErrorCodeSolution>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.SolutionId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ErrorCodeId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ApplicationTypeId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SoftwareApplicationId)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Solution.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ErrorCode.Code)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ApplicationTypeName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SoftwareApplicationName)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
			</td>
		</tr>
	}

</table>
