﻿@model KahlerErrorCodes.Models.ErrorCode

@{
	ViewBag.Title = "Details";
}

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => Model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => Model.Description)
		</dd>
		<dt>
			Solutions
		</dt>
		<dd>
			@if (Model?.Solutions?.Count() > 0) {
				<ul class="table">
					@foreach (var modelItem in Model.Solutions) {
						<li>
							@Html.DisplayFor(item => modelItem.Description)
						</li>
					}
				</ul>
			} else {
				<p>
					No solutions defined
				</p>
			}
		</dd>
	</dl>
</div>
