﻿@model KahlerErrorCodes.Models.ErrorCode

@{
	ViewBag.Title = "Edit";
}

<h2>Edit error code</h2>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ErrorCodeId)

		<div class="form-group">
			@Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
			</div>
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-8" } })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
			@Html.LabelFor(model => model.Solutions, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@if (Model?.Solutions?.Count() > 0) {
					<ul class="table">
						@foreach (var modelItem in Model.Solutions) {
							<li>
								@Html.DisplayFor(item => modelItem.Description)
							</li>
						}
					</ul>
				} else {
					<p>
						No solutions defined
					</p>
				}
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info btn-sm" })
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
