﻿@model KahlerErrorCodes.Models.ErrorCodeSolutionResponse

@{
	ViewBag.Title = "Solutions for error";
}

<div>
	<dl class="dl-horizontal">
		<dt>
			Error
		</dt>
		<dd>
			@Html.DisplayFor(model => Model.ErrorCode) - @Html.DisplayFor(model => Model.ErrorDescription)
		</dd>
		@if (Model?.GenericSolutionsForError?.Count() > 0 || Model?.ProductTypeSolutionsForError?.Count() > 0 || Model?.SoftwareSpecificSolutionsForError?.Count() > 0) {
			<dt>
				Solutions
			</dt>
			<dd>
				The following solutions have been suggested for this error code.

				@if (Model?.SoftwareSpecificSolutionsForError?.Count() > 0) {
					<hr />
					<p>
						Software specific
						<ul class="table">
							@foreach (var modelItem in Model.SoftwareSpecificSolutionsForError) {
								<li>
									@Html.DisplayFor(item => modelItem)
								</li>
							}
						</ul>
					</p>
				}
				@if (Model?.ProductTypeSolutionsForError?.Count() > 0) {
					<hr />
					<p>
						Product type specific
						<ul class="table">
							@foreach (var modelItem in Model.ProductTypeSolutionsForError) {
								<li>
									@Html.DisplayFor(item => modelItem)
								</li>
							}
						</ul>
					</p>
				}
				@if (Model?.GenericSolutionsForError?.Count() > 0) {
					<hr />
					<p>
						General
						<ul class="table">
							@foreach (var modelItem in Model.GenericSolutionsForError) {
								<li>
									@Html.DisplayFor(item => modelItem)
								</li>
							}
						</ul>
					</p>
				}
			</dd>
		} else {
			<dt>
			</dt>
			<dd>
				<p>
					No solutions defined
				</p>
			</dd>
		}
	</dl>
</div>