﻿@model IEnumerable<KahlerErrorCodes.Models.ErrorCode>

@{
	ViewBag.Title = "Error codes";
}

<h2>Error codes</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="table">
	<tr>
		<th>
			Error code
		</th>
		<th>
			Description
		</th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Code)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.ErrorCodeId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Edit", "Edit", new { id = item.ErrorCodeId }, new { @class = "btn btn-info btn-sm" })
				@Html.ActionLink("Delete", "Delete", new { id = item.ErrorCodeId }, new { @class = "btn btn-info btn-sm" })
			</td>
		</tr>
	}
</table>
